################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lobos Informaticos.jpeg
/Lobos Informaticos.jpeg
